<!-- property binding for hidden value -->
<div [hidden] ="!isvisible">
    <h3>Data binding</h3>
    <!-- interpollation  -->
    <h4>name: {{name}}</h4>
    <h4>count:{{count}}</h4>
</div>
<!-- ng model for 2way binding with checkbox -->
<div>
    Show/Hide Content : <input type="checkbox" [(ngModel)]="isvisible" />
</div>
<!-- declare variable in template templates -->
<!-- element is template variable -->
<!-- to hide and show no need to declare variable in component -->
<div>
    show hide ngModel content: <input type="checkbox" #element checked [ngModel]/>{{element.checked}}
</div>
<div [hidden]="!element.checked">
    <!-- property binding -->
    <input placeholder="ctrlstring" type="number" [value]="count" />

    <br>
    <!-- event binding -->
    <div>
    <button (click)="inc($event)">
        increment
    </button>
    </div>
</div>
<br>
<!-- two way binding -->
<div>
    <input placeholder="name"
    [(ngModel)]="name"/>
</div>
<br>
<!-- 2way binding without using ngModel -->
<div>
    <input type="number"
    placeholder="count"
    [value]="count"
    (input)="count=$any($event).target.value" />
</div>
<br>
<!-- two way binding with update on option as change or blur or submit -->
<div>
    <input placeholder="name"
    [(ngModel)]="name" [ngModelOptions]="{updateOn: 'blur'}"/>
</div>

<div>
    Show/Hide Content : <input type="checkbox"/>
</div>