
<!-- <div>
  <h2>
    Angular Application-app-component.
  </h2>
  <p>
    this is app.component,html file.
  </p>
</div> -->
<!-- <hello></hello>
<databinding></databinding> -->

<!-- <app-list-products></app-list-products> -->

<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gadget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Search</a>
        </li>
      </ul>
    </div>
    </nav>
</div>