
<!-- <div>
  <h2>
    Angular Application-app-component.
  </h2>
  <p>
    this is app.component,html file.
  </p>
</div> -->
<!-- <hello></hello>
<databinding></databinding> -->

<!-- <app-list-products></app-list-products> -->

<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://google.com">Angular</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/binding">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gadgets">Gadget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="search">Search</a>
        </li>
      </ul>
    </div>
    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>
</div>